<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Tree of light</h1>
        <div class="hero-wrapper">
        <picture>
            <source srcset="
                            /img/hero/logo-desk.png 1x,
                            /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
                            /img/hero/logo-mob.png  1x,
                            /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Tree of light" loading="lazy" />
        </picture>
      <div class="hero-text-wrapper">
        <p><span class="span">There's this massive tree deep in Winland's forest</span> - locals call it the Tree of Light. Legend says its fruit glows brighter than anything you've ever seen.</p>
        <p>You'll be following these two companions as they search for the Tree of Light, and honestly? The forest's packed with
        weird stuff - ancient symbols carved into trees, places where the air feels different, you know?</p>
      </div>

        <a class="hero-button" href="#demo">
            <picture>
                <source srcset="
        /img/hero/btn-desk.png 1x,
        /img/hero/btn-desk@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
       /img/hero/btn-mob.png  1x,
       /img/hero/btn-mob@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="hero-btn pulse" src="/img/hero/btn-mob.png" alt="Enter" loading="lazy" />
            </picture>
        </a>
    </div>
    </div>
</section>
<section class="disclaimner-section">
    <div class="container">
        <div class="disclaimer-wraper">
            <picture>
            <source srcset="
            /img/disclaimer/firefly-desk.png 1x,
            /img/disclaimer/firefly-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/disclaimer/firefly-mob.png 1x,
            /img/disclaimer/firefly-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="disclaimer-img" src="/img/disclaimer/firefly-mob.png" alt="firefly" loading="lazy" />
        </picture>
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text">megalogicvia.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS
        GAME.</p>
    </div>
    </div>
</section>