body{
  background: #0d3bec;
  font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
}
h2{
  font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.09091;
    color: #fff;
    text-align: center;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 20px;
      line-height: 1.4;
  }
  h2{
    font-size: 64px;
    line-height: 1;
  }
}