/* Styles for Mobile devices */
.container {
  max-width: 374px;
  margin: 0 auto;
  padding: 64px 19px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1439px) {
  .container {
    max-width: 1439px;
    padding: 88px 90px;
  }

}