.footer{
  background-image: url("/img/footer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer-container{
  padding: 132px 38px 28px;
}
.footer-navigation{
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #fff;
}
.footer-text{
  margin-top: 16px;
  font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: #40ff00;
}
@media only screen and (min-width: 1439px) {
  .footer{
    background-image: url("../img/footer/desk.png");
  }
  .footer-container{
    padding: 56px 80px;
  }
  .footer-navigation{
    font-size: 16px;
      line-height: 1.5;
      gap: 76px;
  }
  .footer-text{
    margin-top: 20px;
    font-size: 16px;
      line-height: 1.5;
  }
}