.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
background: rgba(255, 255, 255, 0.2);
  height: 76px;
  width: 100%;

}

.header-container {
  padding:16px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background-image:url("/img/modal/one.png"),
url("/img/modal/two.png"),
url("/img/modal/three.png"),
 linear-gradient(360deg, #1856cd 0%, #0c2b67 100%);
background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
background-size: 174px 161px, 87px 87px, 108px 107px, cover;
background-position: top 30px right 20px, top 260px right 100px, bottom 70px right 20px, top center;
  opacity: 0.96;
  padding: 90px 41px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}


.menu-list-item {
  font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
  padding:8px 16px ;
  display: inline-block;
  transition: all 0.2s ease;
}

.menu-list-item:hover,
.menu-list-item:focus,
.menu-list-item.active {
  background-image: url("/img/modal/border.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 44px;
  border-radius: 60px;
  font-weight: 700;
  height: 44px;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 87px;
  }

  .header-container {
    padding: 20px 80px;
        display: flex;
          justify-content: center;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
  justify-content: center;
    gap: 34px;
  }


  .links {
font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links:hover,
  .links:focus,
  .links.active {
  background-image: url("/img/modal/border.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 44px;
    border-radius: 60px;
    font-weight: 700;
height: 44px;
    width: 100%;
  }

}