.hero-section{
    background-image: url("/img/hero/mob.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    padding-bottom: 340px;
}
.hero-wrapper{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 19px;
        width: 335px;
        height: 698px;
        padding: 16px 15px;
        margin-top: 50px;
}
.hero-logo{
    margin-left: auto;
    margin-right: auto;
   
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.span{
    font-weight: 700;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
@media only screen and (min-width: 1439px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
  }
  .hero-container{
    padding-bottom: 25px;
  }
  .hero-wrapper{
        width: 656px;
        height: 654px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
  }
  .hero-btn.pulse{
   width: 390px;
  
  }
}
/* Disclaimer */
.disclaimner-section{
    background: linear-gradient(0deg, #004989 0%, #000d33 100%);
}
.disclaimer-wraper{
    background-image: url("/img/disclaimer/border-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 340px 504px;
padding: 52px 41px;
width: 340px;
height: 504px;
position: relative;
}
.disclaimer-img{
    position: absolute;
    top:-14%;
    right: -6%;
}
.disclaimer-title{
    font-family: "Kumbh Sans", sans-serif;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.25;
        color: #44b0ff;
        text-align: left;
}
.disclaimer-text{
    margin-top: 24px;
    font-family: "Kumbh Sans", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
  .disclaimer-wraper{
    background-image: url("/img/disclaimer/border-desk.png");
    background-size: 1260px 323px;
    padding: 60px 93px;
    width: 1260px;
    height: 323px;
  }
  .disclaimer-img{
    top:-32%;;
  }
  .disclaimer-title{
    font-size: 36px;
    line-height: 1.11111;
  }
  .disclaimer-text{
    margin-top: 32px;
    font-size: 24px;
   line-height: 1.33333;
  }
}
/* Demo */
/* ===== ОСНОВА ===== */
.demo-section {
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.demo-container {
    position: relative;


}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 698px;
}

.game-img {
    width: 335px;
    height: 698px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 284px;
    height: 91px;
    transform: translate(-50%, -50%);
}

.demo-img {
    display: block;
    width: 100%;
    height: auto;
}

/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 10px;
    left: 36%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 138%;
    height: 180%;
    border: none;
    display: none;
    background: #000;
    border-radius: 20px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -40px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}
@media only screen and (min-width: 1439px) {
    .demo-section {
        background-image: url("/img/demo/desk.png");
    }
.demo-wrapper {
    height: auto;
}
.game-img {
    height: auto;
}
.demo-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    top: 54%;
    left: 50%;
    width: 407px;
    height: 163px;
    transform: translate(-50%, -50%);
}
.iframe-wrapper {
    position: absolute;
    top: 8%;
    left: 39%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;
    pointer-events: none;
}

#gameIframe {
    width: 128%;
    height: 155%;
    border: none;
    display: none;
    background: #000;
    border-radius: 20px;
}
}
/* About Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1227px;
}
.about-title{
    text-align: left;
}
.about-text-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media only screen and (min-width: 1439px) {
  .about-section{
    background-image: url("/img/about/desk.png");
    height: 803px;
  }
  .about-title{
    margin-left: 500px;
  }
  .about-text-wrapper{
    margin-top: 60px;
    width: 761px;
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    line-height: 1.33333;
    gap: 32px;
  }
}