.hero-section{
    background-image: url("/img/hero/mob.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    padding-bottom: 340px;
}
.hero-wrapper{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 19px;
        width: 335px;
        height: 698px;
        padding: 16px 15px;
        margin-top: 50px;
}
.hero-logo{
    margin-left: auto;
    margin-right: auto;
   
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.span{
    font-weight: 700;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
@media only screen and (min-width: 1439px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
  }
  .hero-container{
    padding-bottom: 25px;
  }
  .hero-wrapper{
        width: 656px;
        height: 654px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
  }
  .hero-btn.pulse{
   width: 390px;
  
  }
}